@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");

body {
  background: url(/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  width: 100%;
  display: inline-block;
  background-color: rgba(47, 47, 47, 0.516);
  padding: 1.6em 0;
}

.array-bar {
  padding-top: 7px;
  margin: 2px;
  display: inline-block;
  background-color: #0f9;
}

a {
  padding: 1em 0.6em;
  font-family: "Kalam", cursive;
  color: rgb(0, 255, 153);
  font-size: 18px;
}

.white {
  background-color: white;
}

@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    display: inline-block;
    background-color: rgba(47, 47, 47, 0.516);
    padding: 1em 0;
  }
  a {
    padding: 0.2em 0.6em;
    font-family: "Kalam", cursive;
    color: rgb(0, 255, 153);
    font-size: 16px;
    display: inherit;
  }
}
